db.sqlite3
geckodriver.log
superlists/__pycache__/**
lists/__pycache__/**
.vscode/**
ft
ut
at
lists/migrations/__pycache__/**
functional_tests/__pycache__/

SSHStaging
TempStagingServer.pem
aws_fingerprint
ft_staging
